#comment-form {
    display: flex;
    flex-direction: column;
    background: green;
}

.comment-div {
    background: lightblue;
    margin-top: 20px;
    /* text-align: center; */
    background-color: #dff0db;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
}

article{
    margin-top:10px;
}

.comment {
    padding: 15px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

div#form-div {
    margin-top: 15px;
}

.comment-button {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 10px;
}

.comment-author,
.comment-subject,
.comment-message,
.comment-button {
    display: flex;
    justify-content: center;
}

.comment-div h4 {
    padding: 0px 10px;
}

.link-comment-form {
    color: white;
}

.article-image {
    max-width: 375x;
}

img {
    text-align: center;
    max-width: 90%;
    margin-left: 5%;    
    margin-right: 5%;
}
